---js
const eleventyNavigation = {
	key: "About",
	order: 3
};
---

<h1>&#128075;&#127997; Hi, I'm Umar.</h1>

<p>I am a software developer based in New York City specializing in cloud engineering, backend development and DevSecOps.</p>

<p>I have shipped code at some of the largest, most well-known companies in the world, including Nike, Hewlett-Packard, Aetna CVS Health, Cigna and Metlife.</p>

<p>I earned my Master's degree in Computer Science from the University of Illinois Urbana-Champaign.</p>

<p>My technical interests are varied and include large language models, agentic AI and cybersecurity.</p>

<strong>Looking for an engineer for your startup? Let's talk. Send an <a href="#" id="sendEmailLink">email</a>, or connect on <a href="https://www.linkedin.com/in/umar-mahmud/")>LinkedIn</a>.</strong>

<script src="/js/obfuscate-email.js" defer></script>
